<main id="post-index" class="page">
  <!-- Home button start -->
  <div id="user-page">
    <div class="btn-container">
      <%= link_to "Home", root_path %>
    </div>
    <!-- End of Home button -->
    <div class="single-post-container">
      <!-- User post start -->
      <article class="post-article">
        <div class="info">
          <div>
            <h2 class="title"><%= @post.title %></h2>
            <p class="user-name">by <%= @user.name %></p>
          </div>
          <p class="posts-counter">
            Comments: <%= @post.comments.count %>, Likes: <%= @post.likes.count %>
          </p>
        </div>
        <div class="post-body">
          <p><%= @post.text %></p>
        </div>
      </article>
      <!-- End of user post -->
      <!-- Comments container start -->
      <ul class="comments-container">
        <% if @comments.any? %>
          <% @comments.each do |comment| %>
            <li>
              <p><%= User.find_by(id: comment.author_id).name %>: <%= comment.text %></p>
            </li>
          <% end %>
        <% else %>
          <li>No comments added yet...</li>
        <% end %>
      </ul>
      <!-- End of Comments container -->
      
      <!-- Add comment form -->
      <%= form_with(model: [@user, @post, Comment.new], url: user_post_comments_path(@user, @post), method: :post) do |form| %>
        <div class="form-group">
        <div class="comment-form">
          <%= form.text_area :text, class: "form-control", placeholder: "Add a comment..." %>
        
        <%= form.submit "Add Comment", class: "btn btn-primary" %>
      <% end %>
      </div>
      <!-- Add like form -->
      <div class="like-form">
      <%= form_with(model: [@user, @post, Like.new], url: user_post_likes_path(@user, @post), method: :post) do |form| %>
        <%= form.submit "Like", class: "btn btn-primary" %>
      <% end %>
      </div>
      </div>
    </div>
  </div>
</main>
